@font-face {
  font-family: 'BebasNeue Bold';
  //src: url('webfont.eot'); /* IE9 Compat Modes */
  src:url('../../src/fonts/BebasNeue/BebasNeueBold.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'BebasNeue Book';
  //src: url('webfont.eot'); /* IE9 Compat Modes */
  src:url('../../src/fonts/BebasNeue/BebasNeue%20Book.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'BebasNeue Light';
  //src: url('webfont.eot'); /* IE9 Compat Modes */
  src:url('../../src/fonts/BebasNeue/BebasNeue%20Light.ttf')  format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'BebasNeue Regular';
  //src: url('webfont.eot'); /* IE9 Compat Modes */
  src:url('../../src/fonts/BebasNeue/BebasNeue%20Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
}