@import "bootstrap/bootstrap.less";
@import "fontfaces.less";
@import "variables.less";
@import "mixins.less";
@import "sidebar.less";
@import "profile.less";
@import "about.less";
@import "contacts.less";
@import "resume.less";


html, body {
  font-family: "Helvetica Neue",'Raleway',Helvetica,Arial,sans-serif;
  height: 100%;
}

.content{
  position: relative;
  width: 100%;
  height: 100%;

  .the-view {
    position: absolute;
    top: 0; left: 0;
    padding-left: @xsSidebarWidth;
    height: 100%;
    width: 100%;
  }
}

.btn {
  color: white;
  font-size: 11px;
  font-weight: 500;
  padding: 20px 0 20px 0;

  &:hover {
    background-color: @lightBlue;
    color: white;
  }
}

h1 {
  font-weight:100;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

    .content{
      padding-left: @smSidebarWidth;

      .the-view {
        padding-left: @smSidebarWidth;

        .page-container {
          position: relative;

          .page {
            .container-fluid;
          }
        }
      }
    }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {  }

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {
  body {
    //fix for windows scrollbar
    overflow-y: hidden;
  }
}

//code for two simple animations
.slidedown.ng-enter,
.slidedown.ng-leave,
.slideright.ng-enter,
.slideright.ng-leave,
.slideup.ng-enter,
.slideup.ng-leave
{
  .transition(all 1s ease;);
}


.slidedown.ng-enter {
  .transform(translateY(-100%););
}
.slidedown.ng-enter-active,
.slidedown.ng-leave {
  .transform(translateY(0););
}
.slidedown.ng-leave-active {
  .transform(translateY(+100%););
}


.slideup.ng-enter {
  .transform(translateY(100%););
}
.slideup.ng-enter-active,
.slideup.ng-leave {
  .transform(translateY(0););
}
.slideup.ng-leave-active {
  .transform(translateY(-100%););
}


.slideright.ng-enter {
  .transform(translateX(-100%););
}
.slideright.ng-enter-active,
.slideright.ng-leave {
  .transform(translateX(0););
}
.slideright.ng-leave-active {
  .transform(translateX(100%););
}