<div class="page-container profile">
    <div class="page">
        <div class="row header">
            <div class="placeholder"></div>
        </div>
        <div class="row presentation">
            <div class="placeholder">
                <img src="public/img/profile.jpg" class="mobile-profile-pic" alt="profile-pic"/>
                <h1 class="signature">Simone D'Avico</h1>
                <h5 class="description">Master student and <span>software</span> developer from Lugano.</h5>

                <div class="buttons">
                    <div class="first">
                        <a href="#contacts" class="btn">Contact Me</a>
                    </div>
                    <div class="second">
                        <a href="#about" class="btn">Know me better</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row footer">
            <div class="placeholder"></div>
        </div>
    </div>
</div>