<div class="page-container resume">
    <div class="page">
        <div class="row">
            <div class="sorry">
                <h1><i class="fa fa-spinner fa-spin"></i></h1>
                <h1>Sorry, this page is not finished yet.</h1>
                <h5>This is only temporary. Meanwhile, you can download an old copy of my CV.</h5>
                <a class="btn" href="https://www.dropbox.com/s/ja7khzq9z81k9fv/cv_davico.pdf">Download CV</a>
            </div>
        </div>
    </div>
</div>

